{% extends "index/header.html" %}
{% block title %}Tickets{% endblock %}
{% block content %}
<div class="d-sm-flex justify-content-between align-items-center mb-4">
	<h3 class="text-dark mb-0">Tickets</h3>
</div>
<div class="card shadow">
	<div class="card-body">
		<div class="row">
			<div class="col-md-12">
				<div class="text-md-right dataTables_filter" id="dataTable_filter">
					<label
						><input
							type="search"
							class="form-control form-control-sm"
							aria-controls="dataTable"
							placeholder="Search"
					/></label>
				</div>
			</div>
		</div>
		{% if user_tickets %}
		<div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
			<table class="table my-0" id="dataTable" aria-describedby="projects">
				<thead>
					{% include "tickets/snippets/table_header.html" %}
				</thead>
				<tbody>
					{% for ticket in user_tickets %} {% include "tickets/snippets/ticket.html" %} {%endfor%}
				</tbody>
				<tfoot>
					{% include "tickets/snippets/table_header.html" %}
				</tfoot>
			</table>
		</div>
		{% include "tickets/snippets/pagination.html" with tickets=user_tickets %} {% else %}
		<div style="padding-top: 20px" class="text-center">
			<p><strong>You have no tickets.</strong></p>
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}
