{% extends "index/header.html" %} {% block title %}Teams{% endblock %} {% block content %}
<div class="d-sm-flex justify-content-between align-items-center mb-4">
	<h3 class="text-dark mb-0">Tickets</h3>
	<a
		class="btn btn-primary btn-sm d-none d-sm-inline-block"
		role="button"
		href="#"
		style="background: rgb(28, 40, 38)"
		><em class="fas fa-plus fa-sm text-white-50"></em>&nbsp;New Ticket</a
	>
</div>
<div class="card shadow">
	<div class="card-body">
		<div class="row">
			<div class="col-md-6 text-nowrap">
				<div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
					<label
						>Show&nbsp;<select class="form-control form-control-sm custom-select custom-select-sm">
							<option value="10" selected="">10</option>
							<option value="25">25</option>
							<option value="50">50</option>
							<option value="100">100</option></select
						>&nbsp;</label
					>
				</div>
			</div>
			<div class="col-md-6">
				<div class="text-md-right dataTables_filter" id="dataTable_filter">
					<label
						><input
							type="search"
							class="form-control form-control-sm"
							aria-controls="dataTable"
							placeholder="Search"
					/></label>
				</div>
			</div>
		</div>
		<div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
			<table class="table my-0" id="dataTable" aria-describedby="projects">
				<thead>
					{% include "tickets/snippets/table_header.html" %}
				</thead>
				<tbody>
					{% for ticket in user_tickets %} {% include "tickets/snippets/ticket.html" %} {%endfor%}
				</tbody>
				<tfoot>
					{% include "tickets/snippets/table_header.html" %}
				</tfoot>
			</table>
		</div>
		{% include "projects/snippets/pagination.html" %}
	</div>
</div>
{% endblock %}
