<div class="row">
	<div class="col-md-6 align-self-center">
		<p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">
			Showing {{projects.start_index}} to {{projects.end_index}} of {{projects.paginator.count}}
		</p>
	</div>
	<div class="col-md-6">
		<nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
			<ul class="pagination">
				{% if projects.has_previous %}
				<li class="page-item">
					<a class="page-link" href="?{% if query %}q={{query}}&{% endif %}page=1" aria-label="Previous"
						><span aria-hidden="true">«</span></a
					>
				</li>
				{% endif %} {% for i in projects.paginator.page_range %} {% if projects.number == i %}
				<li class="page-item active"><a class="page-link">{{i}}</a></li>
				{% else %}
				<li class="page-item">
					<a class="page-link" href="?{% if query %}q={{query}}&{% endif %}page={{i}}">{{i}}</a>
				</li>
				{% endif %} {% endfor %} {% if projects.has_next %}
				<li class="page-item">
					<a
						class="page-link"
						href="?{% if query %}q={{query}}&{% endif %}page={{projects.paginator.num_pages}}"
						aria-label="Next"
						><span aria-hidden="true">»</span></a
					>
				</li>
				{% endif %}
			</ul>
		</nav>
	</div>
</div>
