<form method="POST" action="{% url 'update_user' profile.slug %}">{% csrf_token %}
	{{ formset.management_form }}
	<tr>
		<td>
			<a href="{% url 'view_profile' profile.slug %}">
				<img class="rounded-circle mr-2" width="30" height="30"
					src="{{profile.profile_picture.url}}"
					alt="user image" />
				{{profile.first_name}} {{profile.last_name}}
			</a>
		</td>
		<td>{{form.is_active}}</td>
		<td>{{form.is_staff}}</td>
		<td>{{form.is_admin}}</td>
		<td>
			<button class="btn btn-sm" type="submit" style="background: rgb(28, 40, 38); color: aliceblue;">Update</button>
		</td>
	</tr>
</form>