<tr>
	<td>
		<a href="{% url 'view_profile' profile.slug %}"
			><img
				class="rounded-circle mr-2"
				width="30"
				height="30"
				src="{{profile.profile_picture.url}}"
				alt="user image"
			/>{% if profile.first_name %}{{profile.first_name}} {{profile.last_name}} {%else%} {{profile.user.username}}
			{%endif%}
		</a>
	</td>
	<td>{{profile.user.email}}</td>
	<td>{{profile.projectrole_set.all.count}}</td>
	<td>{{profile.ticketassignee_set.all.count}}</td>
	<td>{% include 'teams/snippets/user_action.html' %}</td>
</tr>
