<nav
	class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top"
	style="background: rgb(238, 244, 212)"
>
	<div class="container-fluid">
		<button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button">
			<em class="fas fa-bars"></em>
		</button>
		<div class="container-fluid">
			<form
				method="GET"
				action="{% url 'index_page' %}"
				target="_self"
				class="form-inline d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
			>
				{% csrf_token %}
				<div class="input-group">
					<input
						class="bg-light form-control border-0 small"
						type="search"
						placeholder="Search for ..."
						value="{{query}}"
						name="q" 
						required
					/>
					<div class="input-group-append">
						<button class="btn py-0" type="submit" style="background: rgb(28, 40, 38); color: aliceblue;">
							<em class="fas fa-search"></em>
						</button>
					</div>
				</div>
			</form>
			<ul class="nav navbar-nav flex-nowrap ml-auto">
				<li class="nav-item dropdown d-sm-none no-arrow">
					<a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"
						><em class="fas fa-search"></em
					></a>
					<div
						class="dropdown-menu dropdown-menu-right p-3 animated--grow-in"
						aria-labelledby="searchDropdown"
					>
						<form
							method="GET"
							action="{% url 'index_page' %}"
							target="_self"
							class="form-inline mr-auto navbar-search w-100"
						>
							{% csrf_token %}
							<div class="input-group">
								<input
									class="bg-light form-control border-0 small"
									type="search"
									placeholder="Search for ..."
									value="{{query}}"
									name="q"
								/>
								<div class="input-group-append">
									<button class="btn py-0" type="submit" style="background: rgb(28, 40, 38); color: aliceblue;">
										<em class="fas fa-search"></em>
									</button>
								</div>
							</div>
						</form>
					</div>
				</li>
				<li class="nav-item dropdown no-arrow mx-1">
					<div class="nav-item dropdown no-arrow">
						<a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"
							>{% if alerts %}<span class="badge badge-danger badge-counter"
								>{{all_alerts.count}}</span
							>
							{%endif%}<em class="fas fa-bell fa-fw"></em
						></a>
						<div
							class="dropdown-menu dropdown-menu-right dropdown-list dropdown-menu-right animated--grow-in"
						>
							<h6
								class="text-center"
								style="padding: 10px; color: rgb(238, 244, 212); background-color: rgb(28, 40, 38)"
							>
								Alerts Center
							</h6>
							{% for alert in alerts %}
								{% include 'index/snippets/alert.html' %}
							{% empty %}
								<a class="align-items-center dropdown-item text-center">
									<div>
										<p><strong>No new alerts.</strong></p>
									</div>
								</a>
							{% endfor %}
							<a class="text-center dropdown-item small" style="color: rgb(28, 40, 38)" href="#"
								data-toggle="modal" data-target="#alert-{{alert.id}}"
								>Show All Alerts</a
							>
						</div>
					</div>
				</li>
				<li class="nav-item dropdown no-arrow mx-1">
					<div class="nav-item dropdown no-arrow">
						<a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"
							><em class="fas fa-envelope fa-fw"></em>{% if unread_count != 0 %}<span
								class="badge badge-danger badge-counter"
								>{{ unread_count }}</span
							>{%endif%}</a
						>
						<div
							class="dropdown-menu dropdown-menu-right dropdown-list dropdown-menu-right animated--grow-in"
						>
							<h6
								class="text-center"
								style="padding: 10px; color: rgb(238, 244, 212); background-color: rgb(28, 40, 38)"
							>
								Direct Messages
							</h6>
							{% for message in nav_messages %}
								{% include "index/snippets/message_alert.html" %}
							{% empty %}
							<a class="align-items-center dropdown-item text-center">
								<div class="font-weight-bold">
									<div>
										<span>No new messages.</span>
									</div>
								</div>
							</a>
							{% endfor %}
							<a class="text-center dropdown-item small" style="color: rgb(28, 40, 38)" href="#"
								data-toggle="modal" data-target="#message-{{message.id}}"
								>Show All Messages</a
							>
						</div>
					</div>
					<div
						class="shadow dropdown-list dropdown-menu dropdown-menu-right"
						aria-labelledby="alertsDropdown"
					></div>
				</li>
				<div class="d-none d-sm-block topbar-divider"></div>
				<li class="nav-item dropdown no-arrow">
					<div class="nav-item dropdown no-arrow">
						<a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"
							><span class="d-none d-lg-inline mr-2 text-gray-600 small">
								{% if profile.first_name and profile.last_name %} {{profile.first_name}}
								{{profile.last_name}} {% else %} {{user}} {%endif%}
							</span>
							<img
								class="border rounded-circle img-profile"
								src="{{profile.profile_picture.url}}"
								alt="user image"
							/>
						</a>
						<div class="dropdown-menu shadow dropdown-menu-right animated--grow-in">
							<a class="dropdown-item" href="{% url 'user_profile' %}"
								><em class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></em>&nbsp;Profile</a
							><a class="dropdown-item" href="{% url 'password_change' %}"
								><em class="fas fa-cog fa-sm fa-fw mr-2 text-gray-400"></em>&nbsp;Change Password</a
							>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="{% url 'logout' %}"
								><em class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></em>&nbsp;Logout</a
							>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</nav>
{% include 'index/snippets/alerts_view.html' %}
{% include 'index/snippets/messages_view.html' %}

<style type="text/css">
    .speech-bubble, .speech-bubble-mate {
	position: relative;
	border-radius: .4em;
    max-width: 75%;
    margin-top: 10px;
    color: rgb(28, 40, 38);
    font-weight: 600;
    }

	.speech-bubble {
		background: #C9D5B5;
    }

    .speech-bubble-mate {
		background: #C4F4C7;
    }

    .speech-bubble-mate:after, .speech-bubble:after {
        content: '';
        position: absolute;
        top: 50%;
        width: 0;
        height: 0;
        border: 28px solid transparent;
        border-top: 0;
        margin-top: -14px;
    }

    .speech-bubble:after {
        right: 0;
        border-left-color: #C9D5B5;
        border-right: 0;
        margin-right: -10px;
    }

	.speech-bubble-mate:after {
        left: 0;
        border-right-color: #C4F4C7;
        border-left: 0;
        margin-left: -10px;
    }
</style>

{% for message in direct_messages %}
	{% include 'index/snippets/conversation.html' %}
{%endfor%}

