<nav
	class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0"
	style="background: rgb(28, 40, 38)"
>
	<div class="container-fluid d-flex flex-column p-0">
		<a
			class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0"
			href="{% url 'index_page' %}"
		>
			<div class="sidebar-brand-icon rotate-n-15"><em class="fas fa-laugh-wink"></em></div>
			<div class="sidebar-brand-text mx-3"><span>Liquid</span></div>
		</a>
		<hr class="sidebar-divider my-0" />
		<ul class="nav navbar-nav text-light" id="accordionSidebar">
			<li class="nav-item">
				<a class="nav-link active" href="{% url 'index_page' %}"
					><em class="fas fa-tachometer-alt"></em><span> Dashboard</span></a
				>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'user_profile' %}"
					><em class="fas fa-user"></em><span> Profile</span></a
				>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'team_page' %}"
					><em class="fas fa-tasks"></em><span> Projects</span></a
				>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="login.html"><em class="fas fa-bug"></em><span> My Tickets</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'team_page' %}"><em class="fas fa-users"></em><span> Team</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'logout' %}"><em class="fas fa-times"></em><span> Logout</span></a>
			</li>
		</ul>
		<div class="text-center d-none d-md-inline">
			<button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button>
		</div>
	</div>
</nav>
