<nav
	class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0"
	style="background: rgb(28, 40, 38)"
>
	<div class="container-fluid d-flex flex-column p-0">
		<a class="navbar-brand d-flex sidebar-brand m-0" href="{% url 'index_page' %}">
			<div class="sidebar-brand-text mx-3"><span>Liquid</span></div>
		</a>
		<hr class="sidebar-divider my-0" />
		<ul class="nav navbar-nav text-light" id="accordionSidebar">
			<li class="nav-item">
				<a
					class="nav-link {%if request.resolver_match.url_name == 'index_page' %}active{% endif %}"
					href="{% url 'index_page' %}"
					><em class="fas fa-tachometer-alt"></em><span>&nbsp;Dashboard</span></a
				>
			</li>
			<li class="nav-item">
				{% with 'user_profile view_profile' as urls %}
				<a
					class="nav-link {% if request.resolver_match.url_name in urls %}active{% endif %}"
					href="{% url 'user_profile' %}"
					><em class="fas fa-user"></em><span>&nbsp;Profile</span></a
				>
				{% endwith %}
			</li>
			<li class="nav-item">
				{% with 'projects_page add_project edit_project view_project' as urls %}
				<a
					class="nav-link {% if request.resolver_match.url_name in urls %}active{% endif %}"
					href="{% url 'projects_page' %}"
					><em class="fas fa-tasks"></em><span>&nbsp;Projects</span></a
				>
				{% endwith %}
			</li>
			<li class="nav-item">
				{% with 'tickets_page add_ticket edit_ticket view_ticket' as urls %}
				<a
					class="nav-link {% if request.resolver_match.url_name in urls %}active{%endif%}"
					href="{% url 'tickets_page' %}"
					><em class="fas fa-bug"></em><span>&nbsp;My Tickets</span></a
				>
				{% endwith %}
			</li>
			<li class="nav-item">
				{% with 'team_page' as urls %}
				<a
					class="nav-link {% if request.resolver_match.url_name in urls %}active{%endif%}"
					href="{% url 'team_page' %}"
					><em class="fas fa-users"></em><span>&nbsp;Team</span></a
				>
				{% endwith %}
			</li>
			<li class="nav-item">
				{% with 'user_management' as urls %}
				<a
					class="nav-link {% if request.resolver_match.url_name in urls %}active{%endif%}"
					href="{% url 'user_management' %}"
					><em class="fas fa-users-cog"></em><span>&nbsp;User Management</span></a
				>
				{% endwith %}
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'logout' %}"
					><em class="fas fa-sign-out-alt"></em><span>&nbsp;&nbsp;Logout</span></a
				>
			</li>
		</ul>
		<div class="text-center d-none d-md-inline">
			<button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button>
		</div>
	</div>
</nav>
