<div class="table-responsive table mt-0" id="dataTable" role="grid" aria-describedby="dataTable_info">
	<table class="table my-0" id="dataTable" aria-describedby="projects">
		<thead>
			<tr>
				<th scope="col">Title</th>
				<th scope="col">Project</th>
				<th scope="col">Created On</th>
				<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			{%for ticket in tickets%}
			<tr>
				<td>{{ ticket }}</td>
				<td>{{ ticket.project }}</td>
				<td>{{ ticket.created_on }}</td>
				<td><a href="{% url 'view_ticket' ticket.slug %}">More Details</a></td>
			</tr>
			{%endfor%}
		</tbody>
	</table>
</div>
