<div class="col-lg-7 col-xl-8">
	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="text-primary font-weight-bold m-0">Todo List</h6>
		</div>
		<ul class="list-group list-group-flush">
			{% for todo in user_todos %}
				{% include "index/snippets/todo.html" %}
			{% empty %}
				<div style="padding-top: 25px; padding-bottom: 10px;" class="text-center">
					<p><strong>Good job! You have no todos.</strong></p>
				</div>
			{% endfor %}
			{% include "index/snippets/todos_pagination.html" %}
		</ul>
		<div class="card-header py-2">
			<div
				class="form-group"
				style="margin: 10px;"
			>
				<div>
					<form method="POST" action="#">
						{% csrf_token %}
						<div class="input-group">
							{{ form.todo }}
							<div class="input-group-append">
								<button
									class="btn btn-sm"
									type="submit"
									style="background: rgb(28, 40, 38); color: aliceblue;"
								>
									Add a Todo
								</button>
							</div>
						</div>
						
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
