{% extends "index/header.html" %}
{% block title %}Teams{% endblock %}
{% block content %}
<div class="d-sm-flex justify-content-between align-items-center mb-4">
	<h3 class="text-dark mb-0">Team</h3>
	{% if request.user.is_admin %}
	<a
		class="btn btn-sm d-none d-sm-inline-block"
		role="button"
		href="{% url 'user_management' %}"
		style="background: rgb(28, 40, 38); color: aliceblue;"
		>Manage Users
	</a>
	{% endif %}
</div>
<div class="card shadow">
	<div class="card-body">
		<div class="row">
			<div class="col-md-12">
				<div class="text-md-right dataTables_filter" id="dataTable_filter">
					<label
						><input
							type="search"
							class="form-control form-control-sm"
							aria-controls="dataTable"
							placeholder="Search"
					/></label>
				</div>
			</div>
		</div>
		<div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
			<table class="table my-0" id="dataTable" aria-describedby="team" style="white-space: nowrap">
				<thead>
					{% include 'teams/snippets/table_header.html'%}
				</thead>
				<tbody>
					{% for member in users %} {% include 'teams/snippets/member.html'%} {% endfor %}
				</tbody>
				<tfoot>
					{% include 'teams/snippets/table_header.html'%}
				</tfoot>
			</table>
		</div>
		{% include 'teams/snippets/pagination.html' %}
	</div>
</div>
{% endblock %}
