{% extends "index/header.html" %}
{% block title %}Projects{% endblock %}
{% block content %}
<div class="d-sm-flex justify-content-between align-items-center mb-4">
	<h3 class="text-dark mb-0">Projects</h3>
	{% if request.user.is_admin %}
	<a class="btn btn-sm d-none d-sm-inline-block" role="button" href="{% url 'add_project' %}"
		style="background: rgb(28, 40, 38); color: aliceblue;">
		<em class="fas fa-plus fa-sm text-white-50"></em>
		&nbsp;New Project
	</a>
	{% endif %}
</div>
<div class="card shadow">
	<div class="card-body">
		<div class="row">
			<div class="col-md-12">
				<div class="text-md-right dataTables_filter" id="dataTable_filter">
					<label><input type="search" class="form-control form-control-sm" aria-controls="dataTable"
							placeholder="Search" /></label>
				</div>
			</div>
		</div>
		{% if user_projects %}
		<div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
			<table class="table my-0" id="dataTable" aria-describedby="projects">
				<thead>
					{% include "projects/snippets/table_header.html" %}
				</thead>
				<tbody>
					{% for project in user_projects %} {% include "projects/snippets/project.html" %} {%endfor%}
				</tbody>
				<tfoot>
					{% include "projects/snippets/table_header.html" %}
				</tfoot>
			</table>
		</div>
		{% include "projects/snippets/pagination.html" with projects=user_projects %}
		{% else %}
		<div style="padding-top: 20px" class="text-center">
			<p><strong>You have no projects.</strong></p>
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}