{% extends "index/header.html" %} {% load static %} {% block title %}Dashboard{% endblock %} {% block content %}
<div class="d-sm-flex justify-content-between align-items-center mb-4">
	<h3 class="text-dark mb-0">Dashboard</h3>
</div>
<div class="row">
	<div class="col-md-6 col-xl-3 mb-4">
		<div class="card shadow border-left-primary py-2">
			<div class="card-body">
				<div class="row align-items-center no-gutters">
					<div class="col mr-2">
						<div class="text-uppercase text-primary font-weight-bold text-xs mb-1">
							<span>Todo's</span>
						</div>
						<div class="text-dark font-weight-bold h5 mb-0"><span>{{ user_todos.count }}</span></div>
					</div>
					<div class="col-auto"><em class="fas fa-calendar fa-2x text-gray-300"></em></div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-xl-3 mb-4">
		<div class="card shadow border-left-success py-2">
			<div class="card-body">
				<div class="row align-items-center no-gutters">
					<div class="col mr-2">
						<div class="text-uppercase text-success font-weight-bold text-xs mb-1">
							<span>Projects</span>
						</div>
						<div class="text-dark font-weight-bold h5 mb-0">
							<span>{{ profile.projectrole_set.all.count }}</span>
						</div>
					</div>
					<div class="col-auto"><em class="fas fa-tasks fa-2x text-gray-300"></em></div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-xl-3 mb-4">
		<div class="card shadow border-left-info py-2">
			<div class="card-body">
				<div class="row align-items-center no-gutters">
					<div class="col mr-2">
						<div class="text-uppercase text-info font-weight-bold text-xs mb-1"><span>Tickets</span></div>
						<div class="row no-gutters align-items-center">
							<div class="col-auto">
								<div class="text-dark font-weight-bold h5 mb-0 mr-3">
									<span>{{ profile.ticketassignee_set.all.count }}</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-auto"><em class="fas fa-bug fa-2x text-gray-300"></em></div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-xl-3 mb-4">
		<div class="card shadow border-left-warning py-2">
			<div class="card-body">
				<div class="row align-items-center no-gutters">
					<div class="col mr-2">
						<div class="text-uppercase text-warning font-weight-bold text-xs mb-1">
							<span>Messages</span>
						</div>
						<div class="text-dark font-weight-bold h5 mb-0">
							<span>{{ profile.direct_messages.all.count }}</span>
						</div>
					</div>
					<div class="col-auto"><em class="fas fa-comments fa-2x text-gray-300"></em></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	{% include "index/snippets/todos_list.html" %}
	<div class="col-lg-5 col-xl-4">
		<div class="card shadow mb-4">
			<div class="card-header d-flex justify-content-between align-items-center">
				<h6 class="text-primary font-weight-bold m-0">Tickets Status</h6>
			</div>
			<div class="card-body">
				<div class="chart-area">
					<canvas
						data-bs-chart='{"type":"doughnut","data":{"labels":["New","In-Progress","Resolved"],"datasets":[{"label":"","backgroundColor":["#4e73df","#1cc88a","#36b9cc"],"borderColor":["#ffffff","#ffffff","#ffffff"],"data":["{{new_tickets}}","{{in_progress_tickets}}","{{resolved_tickets}}"]}]},"options":{"maintainAspectRatio":false,"legend":{"display":false},"title":{}}}'
					></canvas>
				</div>
				<div class="text-center small mt-4">
					<span class="mr-2"><em class="fas fa-circle text-primary"></em>&nbsp;New</span
					><span class="mr-2"><em class="fas fa-circle text-success"></em>&nbsp;In-progress</span
					><span class="mr-2"><em class="fas fa-circle text-info"></em>&nbsp;Resolved</span>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
