{% extends "index/header.html" %} {% block title %}Password Change{% endblock %} {% block content %}
<div class="row justify-content-center">
	<div class="col-md-6 col-lg-10 col-xl-6" style="margin-top: 10px">
		<div class="card shadow-lg o-hidden border-0 my-5">
			<div class="card-body p-0">
				<div class="row">
					<div class="col-lg-12" style="background: rgb(238, 244, 212)">
						<div class="p-5" style="background: rgb(238, 244, 212)">
							<div class="text-center">
								<h4 class="text-dark mb-2">Password Change</h4>
							</div>
							<form class="user" method="POST">
								{% csrf_token %}
								<div class="form-group">
									{% for field in form %} {% for error in field.errors %}
									<p style="color: red">{{error}}</p>
									{%endfor%} {%endfor%}
								</div>
								<div class="form-group">
									<input
										class="form-control form-control-user"
										type="password"
										id="id_old_password"
										aria-describedby="passwordHelp"
										placeholder="Enter Your Old Password..."
										name="old_password"
										required="true"
									/>
								</div>
								<div class="form-group">
									<input
										class="form-control form-control-user"
										type="password"
										id="id_new_password1"
										aria-describedby="passwordHelp"
										placeholder="Enter Your New Password..."
										name="new_password1"
										required="true"
									/>
								</div>
								<div class="form-group">
									<input
										class="form-control form-control-user"
										type="password"
										id="id_new_password2"
										aria-describedby="passwordHelp"
										placeholder="Confirm New Password"
										name="new_password2"
										required="true"
									/>
								</div>
								<button
									class="btn btn-primary btn-block text-white btn-user"
									type="submit"
									style="background-color: rgb(28, 40, 38)"
								>
									Change Password
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
