{% extends "account/header.html" %} {% block title %}Password Reset{% endblock %} {% block content %}
<div class="row justify-content-center">
	<div class="col-md-8 col-lg-10 col-xl-8" style="margin-top: 80px">
		<div class="card shadow-lg o-hidden border-0 my-5">
			<div class="card-body p-0">
				<div class="row">
					<div class="col-lg-12" style="background: rgb(238, 244, 212)">
						<div class="p-5" style="background: rgb(238, 244, 212)">
							<div class="text-center">
								<p class="card-text mb-4">
									We've emailed you instructions on how to reset your password.<br />If you don't
									receive an email, please make sure you've entered the email address you've
									registered your account with.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
