{% extends "index/header.html" %} {% block title %}Password Reset Complete{% endblock %}
{% block account %}
<div class="row justify-content-center">
	<div class="col-md-8 col-lg-10 col-xl-8" style="margin-top: 80px">
		<div class="card shadow-lg o-hidden border-0 my-5">
			<div class="card-body p-0">
				<div class="row">
					<div class="col-lg-12" style="background: #F1F7ED">
						<div class="p-5" style="background: #F1F7ED">
							<div class="text-center">
								<p class="card-text mb-4">
									Your password has been reset. You may go ahead and
									<a style="color: rgb(28, 40, 38)" href="{% url 'login_page' %}">Log in</a>.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
