{% extends "index/header.html" %} 
{% block title%} {{profile.first_name}} {{profile.last_name}} {% endblock %} 
{% block content %}
<div class="container-fluid">
	<h3 class="text-dark mb-4">Profile</h3>
	<form method="POST" action="{% url 'user_profile' %}" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="row mb-3">
			<div class="col-lg-4">
				<div class="card mb-3">
					<div class="card-body text-center shadow">
						<img
							class="rounded-circle mb-3 mt-4"
							src="{{profile.profile_picture.url}}"
							width="160"
							height="160"
							alt="user profile"
						/>
						<div class="mb-3 text-truncate d-flex">
							{{ form.profile_picture }}
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-8">
				<div class="row">
					<div class="col">
						<div class="card shadow mb-3">
							<div class="card-header py-3">
								<p class="text-primary m-0 font-weight-bold" style="color: rgb(28, 40, 38)">
									User Information
								</p>
							</div>
							<div class="card-body">
									<div class="form-row">
										<div class="col">
											<div class="form-group">
												<label for="username"><strong>Username</strong></label
												>{{ form.username }}
											</div>
										</div>
										<div class="col">
											<div class="form-group">
												<label for="email"><strong>Website</strong></label
												>{{ form.website }}
											</div>
										</div>
									</div>
									<div class="form-row">
										<div class="col">
											<div class="form-group">
												<label for="first_name"><strong>First Name</strong></label
												>{{ form.first_name }}
											</div>
										</div>
										<div class="col">
											<div class="form-group">
												<label for="last_name"><strong>Last Name</strong></label
												>{{ form.last_name }}
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card shadow">
								<div class="card-header py-3">
									<p class="text-primary m-0 font-weight-bold" style="color: rgb(28, 40, 38)">
										Contact Information
									</p>
								</div>
								<div class="card-body">
									<div class="form-group">
										<label for="address"><strong>Address</strong></label
										>{{ form.address }}
									</div>
									<div class="form-row">
										<div class="col">
											<div class="form-group">
												<label for="city"><strong>City</strong></label
												>{{ form.city }}
											</div>
										</div>
										<div class="col">
											<div class="form-group">
												<label for="country"><strong>Country</strong></label
												>{{ form.country }}
											</div>
										</div>
									</div>
									<div class="form-group">
										<button
											class="btn btn-primary btn-sm"
											type="submit"
											style="background: rgb(28, 40, 38)"
										>
											Update&nbsp;Details
										</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
{% endblock %}
